@charset "utf-8";
/* CSS Document */

.setting_detail_label
{
	float: left;
	width: 100px;
	padding-top: 5px;
	text-align: right;
}

.setting_detail_info
{
	margin-left:120px;
}

.head_img
{
	background:url("../bootstrap/img/bootstrap-mdo-sfmoma-01.jpg") center no-repeat;
	background-size:cover;
	position:relative;
	text-align:center;
	display:block;
	height:150px;
	width:150px;
	margin-bottom:30px;
}

.controls.input-append.date.form_datetime
{
	margin-left:20px;
}

#input_birthday
{
	width:155px;
}