@charset "utf-8";
/* CSS Document */
.messageboxa
{
	position:relative;
	padding-left:5px;
	margin-left:10px;
	margin-top:10px;
	margin-bottom:10px;
	background-color:#3CF;
	width:200px;
	height:auto;
}

.messageboxb
{
	position:relative;
	padding-left:5px;
	margin-left:10px;
	margin-top:10px;
	margin-bottom:10px;
	background-color:#0F6;
	width:200px;
	height:auto;
	margin-right:10px;
	margin-left:400px;
}

.messageboxa .head
{
	position:absolute;
	width:40px;
	height:auto;
	display:inline-block;
	word-wrap:break-word;
	padding-top:5px;
}

.messageboxa .content
{
	margin-left:40px;
	width:150px;
	height:auto;
	display:inline-block;
	word-wrap:break-word;
	padding-top:5px;
	
}

.messageboxb .head
{
	position:absolute;
	width:40px;
	height:auto;
	display:inline-block;
	word-wrap:break-word;
	padding-top:5px;
}

.messageboxb .content
{
	margin-left:40px;
	width:150px;
	height:auto;
	display:inline-block;
	word-wrap:break-word;
	padding-top:5px;
	
}
