@charset "utf-8";
/* CSS Document */

#down_content {
	margin-left: auto;
	margin-right: auto;
	padding-top:30px;
	padding-left:10px;
	padding-right:10px;
	width: 950px;
}

.navbar .nav > li > a.modify_padding
{
	padding-left:5px;
	padding-right:5px;
}

.navbar .nav.my_pull_right
{
	float:right;
	margin-right:25px;
}

.sub_name
{
	float:left;
	min-width:150px;
	max-width:200px;
	text-overflow: ellipsis; 
	overflow: hidden; 
	white-space: nowrap;
}
.sub_name div
{
	float:left;
}

#down_left_content
{
	min-height:700px;
	float:left;
	width:650px;
	background-image:url(../images/half_translucent_2.png);
}

#down_right_content
{
	float:left;
	background:url(../images/half_translucent_5.png);
	width:300px;
	height:800px;
}

::-webkit-scrollbar
{
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-track-piece
{
    background-color: #CCCCCC;
    -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:vertical
{
    height: 5px;
    background-color: #999999;
    -webkit-border-radius: 6px;
}
::-webkit-scrollbar-thumb:horizontal
{
    width: 5px;
    background-color: #CCCCCC;
    -webkit-border-radius: 6px;
}