<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">



	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver">
		</property>
		<property name="url" value="jdbc:mysql://localhost:3306/onlinetutoring">
		</property>
		<property name="username" value="tutoradmin"></property>
		<property name="password" value="abcd112358"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
				<prop key="javax.persistence.validation.mode">none</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
				<value>com/tutoring/entity/Message.hbm.xml</value>
				<value>com/tutoring/entity/Tutor.hbm.xml</value>
				<value>com/tutoring/entity/Notification.hbm.xml</value>
				<value>com/tutoring/entity/User.hbm.xml</value>
				<value>com/tutoring/entity/Question.hbm.xml</value>
				<value>com/tutoring/entity/Student.hbm.xml</value>
				<value>com/tutoring/entity/Subject.hbm.xml</value>
				<value>com/tutoring/entity/Answer.hbm.xml</value>
				<value>com/tutoring/entity/Course.hbm.xml</value>
				<value>com/tutoring/entity/Application.hbm.xml</value>
				<value>com/tutoring/entity/Friend.hbm.xml</value>
				<value>com/tutoring/entity/Specialty.hbm.xml</value>
			</list>
		</property>
	</bean>


	<bean id="UserDAO" class="com.tutoring.dao.UserDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>


	<bean id="UserBiz" class="com.tutoring.biz.UserBizImpl">
		<property name="userDAO" ref="UserDAO"></property>
	</bean>

	<bean id="QuestionDAO" class="com.tutoring.dao.QuestionDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<bean id="SubjectDAO" class="com.tutoring.dao.SubjectDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<bean id="AnswerDAO" class="com.tutoring.dao.AnswerDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<bean id="PageDAO" class="com.tutoring.dao.PageDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<bean id="TopicBiz" class="com.tutoring.biz.TopicBizImpl">
		<property name="questionDAO" ref="QuestionDAO"></property>
		<property name="userDAO" ref="UserDAO"></property>
		<property name="subjectDAO" ref="SubjectDAO"></property>
		<property name="answerDAO" ref="AnswerDAO"></property>
		<property name="pageDAO" ref="PageDAO"></property>
	</bean>

	<bean id="StudentDAO" class="com.tutoring.dao.StudentDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<bean id="CourseDAO" class="com.tutoring.dao.CourseDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="TutorDAO" class="com.tutoring.dao.TutorDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<bean id="NotificationDAO" class="com.tutoring.dao.NotificationDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="ApplicationDAO" class="com.tutoring.dao.ApplicationDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="FriendDAO" class="com.tutoring.dao.FriendDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="MessageDAO" class="com.tutoring.dao.MessageDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="MessageBiz" class="com.tutoring.biz.MessageBizImpl">
		<property name="messageDAO" ref="MessageDAO"></property>
		<property name="userDAO" ref="UserDAO"></property>
		<property name="notificationDAO" ref="NotificationDAO"></property>
	</bean>

	<bean id="CourseBiz" class="com.tutoring.biz.CourseBizImpl">
		<property name="userDAO" ref="UserDAO"></property>
		<property name="studentDAO" ref="StudentDAO"></property>
		<property name="courseDAO" ref="CourseDAO"></property>
		<property name="tutorDAO" ref="TutorDAO"></property>
		<property name="subjectDAO" ref="SubjectDAO"></property>
		<property name="applicationDAO" ref="ApplicationDAO"></property>
	</bean>

	<bean id="StudentBiz" class="com.tutoring.biz.StudentBizImpl">
		<property name="userDAO" ref="UserDAO"></property>
		<property name="courseDAO" ref="CourseDAO"></property>
		<property name="notificationDAO" ref="NotificationDAO"></property>
		<property name="studentDAO" ref="StudentDAO"></property>
	</bean>
	
	<bean id="TutorBiz" class="com.tutoring.biz.TutorBizImpl">
		<property name="tutorDAO" ref="TutorDAO"></property>
	</bean>
	
	<bean id="NotificationBiz" class="com.tutoring.biz.NotificationBizImpl">
		<property name="courseDAO" ref="CourseDAO"></property>
		<property name="studentDAO" ref="StudentDAO"></property>
		<property name="notificationDAO" ref="NotificationDAO"></property>
	</bean>

	<bean id="FriendBiz" class="com.tutoring.biz.FriendBizImpl">
		<property name="userDAO" ref="UserDAO"></property>
		<property name="friendDAO" ref="FriendDAO"></property>
	</bean>

	<bean id="loginAction" class="com.tutoring.action.LoginAction"
		scope="prototype">
		<property name="userBiz" ref="UserBiz"></property>
		<property name="courseBiz" ref="CourseBiz"></property>
	</bean>
	<bean id="registerAction" class="com.tutoring.action.RegisterAction"
		scope="prototype">
		<property name="userBiz" ref="UserBiz"></property>
	</bean>

	<bean id="deleteTopicAction" class="com.tutoring.action.DeleteTopicAction"
		scope="prototype">
		<property name="topicBiz" ref="TopicBiz"></property>
	</bean>

	<bean id="launchTopicAction" class="com.tutoring.action.LaunchTopicAction"
		scope="prototype">
		<property name="topicBiz" ref="TopicBiz"></property>
	</bean>

	<bean id="makeCommentAction" class="com.tutoring.action.MakeCommentAction"
		scope="prototype">
		<property name="topicBiz" ref="TopicBiz"></property>
	</bean>

	<bean id="downloadAction" class="com.tutoring.action.DownloadAction">
		<property name="topicBiz" ref="TopicBiz"></property>
	</bean>

	<bean id="indexAction" class="com.tutoring.action.IndexAction">
		<property name="userBiz" ref="UserBiz"></property>
	</bean>

	<bean id="allTopicsAction" class="com.tutoring.action.AllTopicsAction"
		scope="prototype">
		<property name="topicBiz" ref="TopicBiz"></property>
	</bean>

	<bean id="myTopicsAction" class="com.tutoring.action.MyTopicsAction"
		scope="prototype">
		<property name="topicBiz" ref="TopicBiz"></property>
	</bean>

	<bean id="makeTopicAction" class="com.tutoring.action.MakeTopicAction"></bean>

	<bean id="chattingAction" class="com.tutoring.action.ChattingAction">
		<property name="messageBiz" ref="MessageBiz"></property>
		<property name="sessionMaintainBiz" ref="SessionMaintainBiz"></property>
		<property name="userBiz" ref="UserBiz"></property>
	</bean>

	<bean id="topicDetailAction" class="com.tutoring.action.TopicDetailAction">
		<property name="topicBiz" ref="TopicBiz"></property>
	</bean>

	<bean id="searchAction" class="com.tutoring.action.SearchAction">
		<property name="courseBiz" ref="CourseBiz"></property>
		<property name="userBiz" ref="UserBiz"></property>
	</bean>

	<bean id="buildInfoAction" class="com.tutoring.action.BuildInfoAction">
		<property name="userBiz" ref="UserBiz"></property>
	</bean>

	<bean id="changeInfoAction" class="com.tutoring.action.ChangeInfoAction"
		scope="prototype">
		<property name="userBiz" ref="UserBiz"></property>
	</bean>

	<bean id="tutorInfoAction" class="com.tutoring.action.TutorInfoAction">
		<property name="userBiz" ref="UserBiz"></property>
	</bean>

	<bean id="applyCourseAction" class="com.tutoring.action.ApplyCourseAction">
		<property name="studentBiz" ref="StudentBiz"></property>
		<property name="tutorBiz" ref="TutorBiz"></property>
	</bean>

	<bean id="courseManageAction" class="com.tutoring.action.CourseManageAction">
		<property name="courseBiz" ref="CourseBiz"></property>
	</bean>

	<bean id="logoutAction" class="com.tutoring.action.LogoutAction"></bean>

	<bean id="SessionMaintainBiz" class="com.tutoring.biz.SessionMaintainBizImpl">
		<property name="courseBiz" ref="CourseBiz"></property>
		<property name="userBiz" ref="UserBiz"></property>
	</bean>
	
	<bean id="openCourseAction" class="com.tutoring.action.OpenCourseAction">
		<property name="courseBiz" ref="CourseBiz"></property>
	</bean>
	
	<bean id="deleteCourseAction" class="com.tutoring.action.DeleteCourseAction">
		<property name="courseBiz" ref="CourseBiz"></property>
	</bean>
	
	<bean id="courseMessageAction" class="com.tutoring.action.CourseMessageAction">
		<property name="courseBiz" ref="CourseBiz"></property>
	</bean>
	
	<bean id="handleApplicationAction" class="com.tutoring.action.HandleApplicationAction">
		<property name="sessionMaintainBiz" ref="SessionMaintainBiz"></property>
		<property name="notificationBiz" ref="NotificationBiz"></property>
	</bean>
	
	<bean id="friendMessageAction" class="com.tutoring.action.FriendMessageAction">
	</bean>
	
	<bean id="handleFriendAction" class="com.tutoring.action.HandleFriendAction">
		<property name="friendBiz" ref="FriendBiz"></property>
		<property name="notificationBiz" ref="NotificationBiz"></property>
		<property name="sessionMaintainBiz" ref="SessionMaintainBiz"></property>
	</bean>

	<bean id="sendMessageAction" class="com.tutoring.action.SendMessageAction">
		<property name="messageBiz" ref="MessageBiz"></property>
		<property name="sessionMaintainBiz" ref="SessionMaintainBiz"></property>
	</bean>
	
	<bean id="flashInfoAction" class="com.tutoring.action.FlashInfoAction">
		<property name="courseBiz" ref="CourseBiz"></property>
		<property name="userBiz" ref="UserBiz"></property>
	</bean>
	<bean id="studentInfoAction" class="com.tutoring.action.StudentInfoAction">
		<property name="userBiz" ref="UserBiz"></property>
	</bean>
	<bean id="userInfoAction" class="com.tutoring.action.UserInfoAction">
		<property name="userBiz" ref="UserBiz"></property>
	</bean>
	<bean id="courseInfoAction" class="com.tutoring.action.CourseInfoAction">
		<property name="courseBiz" ref="CourseBiz"></property>
	</bean>
</beans>