<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	
	
	<bean id="dataSource"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName"
			value="com.mysql.jdbc.Driver">
		</property>
		<property name="url"
			value="jdbc:mysql://localhost:3306/onlinetutoring">
		</property>
		<property name="username" value="tutoradmin"></property>
		<property name="password" value="abcd112358"></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
			</props>
		</property>
		<property name="mappingResources">
			<list>
			<value>com/tutoring/entity/Specialty.hbm.xml</value>
			<value>com/tutoring/entity/Message.hbm.xml</value>
			<value>com/tutoring/entity/Tutor.hbm.xml</value>
			<value>com/tutoring/entity/Notification.hbm.xml</value>
			<value>com/tutoring/entity/User.hbm.xml</value>
			<value>com/tutoring/entity/Question.hbm.xml</value>
			<value>com/tutoring/entity/Application.hbm.xml</value>
			<value>com/tutoring/entity/Student.hbm.xml</value>
			<value>com/tutoring/entity/Friend.hbm.xml</value>
			<value>com/tutoring/entity/Subject.hbm.xml</value>
			<value>com/tutoring/entity/Answer.hbm.xml</value>
			<value>com/tutoring/entity/Course.hbm.xml</value></list>
		</property>
	</bean>
	
	<bean id="userDAO" class="com.test.spring.UserDaoImpl">
	</bean>
	
	<bean id="userBiz" class="com.test.spring.UserBizImpl">
		<property name="userDAO" ref="userDAO"></property>
	</bean>

	<bean id="UserDAO" class="com.tutoring.dao.UserDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	
	
	
	<bean id="UserBiz" class="com.tutoring.biz.UserBizImpl">
		<property name="userDAO" ref="UserDAO"></property>
		
	
	</bean>

	<bean id="loginAction" class="com.tutoring.action.LoginAction">
		<property name="userBiz" ref="UserBiz"></property>
	</bean>
	<bean id="registerAction" class="com.tutoring.action.RegisterAction">
		<property name="userBiz" ref="UserBiz"></property>
	</bean>
	
	<bean id="loginAction2" class="com.test.action.LoginAction">
		<property name="userBiz" ref="UserBiz"></property>
	</bean>
	<bean id="launchTopicAction" class="com.tutoring.action.LaunchTopicAction" scope="prototype">
		
	</bean>
	
	<bean id="downloadAction" class="com.tutoring.action.DownloadAction"></bean>
	
</beans>